@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(210, 11.1%, 3.53%);

    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(210, 11.1%, 3.53%);

    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(210, 11.1%, 3.53%);

    --primary: hsl(0, 0%, 9%);
    --primary-foreground: hsl(0, 0%, 98%);

    --secondary: hsl(0, 0%, 96.1%);
    --secondary-foreground: hsl(0, 0%, 9%);

    --muted: hsl(0, 0%, 96.1%);
    --muted-foreground: hsl(0, 0%, 24%);

    --accent: hsl(0, 0%, 96.1%);
    --accent-foreground: hsl(0, 0%, 9%);

    --destructive: hsl(0, 84.2%, 60.2%);
    --destructive-foreground: hsl(0, 0%, 98%);

    --border: hsl(0, 0%, 89.8%);
    --input: hsl(0, 0%, 89.8%);
    --ring: hsl(0, 0%, 3.9%);

    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(210, 11.1%, 3.53%);
    --foreground: hsl(0, 0%, 98%);

    --card: hsl(210, 11.1%, 3.53%);
    --card-foreground: hsl(0, 0%, 98%);

    --popover: hsl(210, 11.1%, 3.53%);
    --popover-foreground: hsl(0, 0%, 98%);

    --primary: hsl(0, 0%, 98%);
    --primary-foreground: hsl(0, 0%, 9%);

    --secondary: hsl(0, 0%, 14.9%);
    --secondary-foreground: hsl(0, 0%, 98%);

    --muted: hsl(0, 0%, 14.9%);
    --muted-foreground: hsl(0, 0%, 93.5%);

    --accent: hsl(0, 0%, 14.9%);
    --accent-foreground: hsl(0, 0%, 98%);

    --destructive: hsl(0, 62.8%, 30.6%);
    --destructive-foreground: hsl(0, 0%, 98%);

    --border: hsl(0, 0%, 14.9%);
    --input: hsl(0, 0%, 14.9%);
    --ring: hsl(0, 0%, 83.1%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h3 code {
  @apply !text-lg md:!text-xl;
}

pre {
  @apply !px-0 rounded-lg overflow-x-auto py-4
}
  
pre [data-line] {
  @apply px-4
}

code {
  @apply text-sm md:text-base !leading-loose;
}

pre > code {
  counter-reset: line;
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}
  
@media (prefers-color-scheme: dark) {
  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply inline-block w-4 mr-4 text-right text-gray-500;
}

code {
  counter-reset: line;
}
 
code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
 
  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}
 
code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}
 
code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}

/* Animated Gradient Background for pages */
/* Code generated by CSS Plasma Background Generator */
/* https://github.com/fracergu/css-plasma-background-generator */
.gradient-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: blur(145px);
  z-index: -1;
  pointer-events: none;
}

.gradient {
  position: absolute;
  border-radius: 100%;
  opacity: 0.65;
  mix-blend-mode: screen;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}

.gradient-1 {
  background: rgb(195, 115, 211);
  width: 700px;
  height: 700px;
  animation-duration: 8s;
  opacity: 0.65;
  left: 60%;
  top: 40%;
  z-index: -2;
  animation-name: animation-gradient-1;
}

.gradient-2 {
  background: rgb(255, 115, 0);
  width: 600px;
  height: 600px;
  animation-duration: 8s;
  opacity: 0.65;
  left: 40%;
  top: 60%;
  z-index: -1;
  animation-name: animation-gradient-2;
}

.gradient-3 {
  background: rgb(0, 157, 255);
  width: 500px;
  height: 500px;
  animation-duration: 8s;
  opacity: 0.65;
  left: 50%;
  top: 50%;
  z-index: -3;
  animation-name: animation-gradient-3;
}

@keyframes animation-gradient-1 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
      rotate(80deg) translateX(30%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
      rotate(240deg) translateX(15%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
  }
}

@keyframes animation-gradient-2 {
  0% {
    transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
  }
  25% {
    transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg)
      rotate(110deg) translateX(-5%);
  }
  50% {
    transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
  }
  75% {
    transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg)
      rotate(300deg) translateX(-10%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
  }
}

@keyframes animation-gradient-3 {
  0% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
  }
  20% {
    transform: translateY(-50%) translateX(-50%) translateX(20%) translateY(-30%);
  }
  40% {
    transform: translateY(-50%) translateX(-50%) translateX(-25%) translateY(-15%);
  }
  60% {
    transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
  }
  80% {
    transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
  }
  100% {
    transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
  }
}